body {
	background-image: url("/img/bg.jpg")!important;
}
.container {
	margin-top: 50px;
}
.disabled {
	background-color: #e7e7e7 !important;
}
input[type='radio'] {
	left: -9999px;
	visibility: hidden;
}
#translateResult {
	border: 1px #b7b8ba solid!important;
	border-radius: 5px!important;
	text-align: center;
}